<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery2.1.4.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/buttonClick.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ajax.js') }}"></script>
        {% endblock %}
    </body>
</html>
