{% extends "::base.html.twig" %}

{% block title %}Umfrage erstellen{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <div class="add-changeNavigation">
        <a class="add-changeNav active" href="{{ path('addSurvey') }}">Umfrage erstellen</a>
        <a class="add-changeNav" href="{{ path('addDevice') }}">Ger채te erstellen</a>
        <a class="add-changeNav" href="{{ path('addUser') }}">Nutzer erstellen</a>
    </div>
    <main class="insert-main">
        <div class="container row">
            <div class="add-statistic-survey add col s6 push-s3">
                <form action="{{ path('addSurvey') }}" class="add-survey-form" method="post">
                    <input class="input-question" name="question" type="text" placeholder="Frage">
                    <br>
                    <input class="date" id="datepicker-start" name="startDate" placeholder="Startdatum">
                    <input class="date" id="datepicker-end" name="endDate" placeholder="Enddatum">
                    <br>
                    <input class="time" id="time" name="startTime" placeholder="Startzeit">
                    <input class="time" id="time" name="endTime" placeholder="Endzeit">
                    <br>
                    <select class="status" title="Status" name="status">
                        <option value="" disabled selected>Status</option>
                        <option>Aktiv</option>
                        <option>Inaktiv</option>
                    </select>
                    <br>
                    <select class="devices" title="Ger채te" name="device">
                        <option value="" disabled selected>Ger채te</option>
                        <option value="0">alle Ger채te</option>
                        {% for device in allDevices %}
                            <option value="{{ device.id }}">{{ device.connection }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="answerQuantity" name="answerQuantity" title="Buttonanzahl">
                        <option value="" disabled selected>Buttonanzahl</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <br>
                    <div class="answerOption">
                    </div>
                    <br>
                    <button class="newInsert-button">Erstellen</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}