{% extends "::base.html.twig" %}

{% block title %}Alle Umfragen{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <main class="all-survey">
        <table>
            <tr class="table-header">
                <th>Frage</th>
                <th>Start</th>
                <th></th>
                <th>Ende</th>
                <th></th>
                <th>Anzahl</th>
                <th>Status</th>
            </tr>
            {% for survey in allSurvey %}
                <tr>
                    <td>{{ survey.question }}</td>
                    <td>{{ survey.surveyStart|date('Y-m-d') }}</td>
                    <td>{{ survey.timeStart|date('H:i:s') }}</td>
                    <td>{{ survey.surveyEnd|date('Y-m-d') }}</td>
                    <td>{{ survey.timeEnd|date('H:i:s') }}</td>
                    <td>{{ survey.buttonQuantity }}</td>
                    <td>{{ survey.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}
