{% extends "::base.html.twig" %}

{% block title %}Umfrage ändern{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <div class="add-changeNavigation">
        <a class="add-changeNav active" href="{{ path('changeSurvey') }}">Umfrage ändern</a>
        <a class="add-changeNav" href="{{ path('changeDevice') }}">Geräte ändern</a>
        <a class="add-changeNav" href="{{ path('changeUser') }}">Nutzer ändern</a>
    </div>
    <main class="all-change-survey">
        <form class="change-survey-form" method="post">
            <table>
                <tr class="table-header">
                    <th></th>
                    <th>Frage</th>
                    <th>Start</th>
                    <th></th>
                    <th>Ende</th>
                    <th></th>
                    <th>Anzahl</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                {% for survey in allSurvey %}
                    <tr>
                        <td class="survey-id">{{ survey.id }}</td>
                        <td class="survey-devicesId">{{ survey.devicesId }}</td>
                        <td class="icon-row">
                            <a class="info-icon">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="table-question">{{ survey.question }}</td>
                        <td class="table-start">{{ survey.surveyStart|date('Y-m-d') }}</td>
                        <td class="table-timeStart">{{ survey.timeStart|date('H:i:s') }}</td>
                        <td class="table-end">{{ survey.surveyEnd|date('Y-m-d') }}</td>
                        <td class="table-timeEnd">{{ survey.timeEnd|date('H:i:s') }}</td>
                        <td class="table-count">{{ survey.buttonQuantity }}</td>
                        <td class="table-activity">{{ survey.status }}</td>
                        <td>
                            <a class="delete-icon">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </main>
    <div id="changeSurvey-modal" class="modal">
        <div class="modal-content">
            <input class="modal-question" title="table-question" placeholder="Frage" />
            <br>
            <input class="modal-start date" title="table-start" placeholder="Startdatum" />
            <input class="modal-end date" title="table-end" placeholder="Enddatum" />
            <br>
            <input class="modal-timeStart time" title="table-timeStart" placeholder="Startzeit" />
            <input class="modal-timeEnd time" title="table-timeEnd" placeholder="Endzeit" />
            <br>
            <select class="modal-status">
                <option disabled selected>Status</option>
            </select>
            <select class="modal-device" title="devices">
                <option disabled selected>Geräte</option>
            </select>
            <select class="modal-buttonCount" title="buttons">
                <option disabled selected>Buttonanzahl</option>
            </select>
            <div class="modal-answerOption">

            </div>
            <a class="save-icon"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a class=" modal-action modal-close" id="noChange-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
{% endblock %}
