{% extends "::base.html.twig" %}

{% block title %}AppBundle:Survey:allSurvey{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <div class="changeNavigation">
        <a class="changeNav" href="{{ path('changeSurvey') }}">Umfrage ändern</a>
        <a class="changeNav active" href="{{ path('changeDevice') }}">Geräte ändern</a>
        <a class="changeNav" href="{{ path('changeUser') }}">Nutzer ändern</a>
    </div>
    <main class="all-change-survey">
        <form class="change-survey-form" method="post">
            <table>
                <tr class="table-header">
                    <th></th>
                    <th>Gerätename</th>
                    <th></th>
                </tr>
                {% for device in allDevices %}
                    <tr>
                        <td class="device-id">{{ device.id }}</td>
                        <td class="icon-row">
                            <a class="info-icon-device">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="table-device">{{ device.connection }}</td>
                        <td>
                            <a class="delete-icon-device">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </main>
{% endblock %}