{% extends "::base.html.twig" %}

{% block title %}AppBundle:Survey:allSurvey{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <div class="changeNavigation">
        <a class="changeNav" href="{{ path('changeSurvey') }}">Umfrage 채ndern</a>
        <a class="changeNav" href="{{ path('changeDevice') }}">Ger채te 채ndern</a>
        <a class="changeNav active" href="{{ path('changeUser') }}">Nutzer 채ndern</a>
    </div>
    <main class="all-change-survey">
        <form class="change-survey-form" method="post">
            <table>
                <tr class="table-header">
                    <th></th>
                    <th>Nutzername</th>
                    <th>Rolle</th>
                    <th></th>
                </tr>
                {% for user in allUsers %}
                    <tr>
                        <td class="user-id">{{ user.id }}</td>
                        <td class="icon-row">
                            <a class="info-icon-user">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="table-username">{{ user.username }}</td>
                        <td class="table-userRole">{{ user.roles[0] }}</td>
                        <td>
                            <a class="delete-icon-user">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </main>
{% endblock %}