{% extends "::base.html.twig" %}

{% block title %}Auswertung{% endblock %}

{% block body %}
    {% include'AppBundle:Templates:header.html.twig' %}
    <main class="all-survey">
        <table>
            <tr class="table-header">
                <th></th>
                <th>Frage</th>
                <th>Bewertungen</th>
                <th>Buttons</th>
                <th>Dauer</th>
            </tr>
            {% for survey in allSurvey %}
                <tr>
                    <td class="survey-id">{{ survey.id }}</td>
                    <td class="icon-statistic">
                        <i class="fa fa-area-chart" aria-hidden="true"></i>
                    </td>
                    <td class="table-question">{{ survey.question }}</td>
                    <td class="table-rating">{{ countSurvey[loop.index0]['count'] }}</td>
                    <td class="table-count">{{ survey.buttonQuantity }}</td>
                    <td class="table-period">{{ dateDiff[loop.index0].days }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>

    <div id="chart-modal" class="modal">
        <div class="modal-content">
            <canvas class="chart" width="400" height="200"></canvas>
            <div class="chart-controls">
                <i class="fa fa-pie-chart pie-chart active"></i>
                <i class="fa fa-bar-chart bar-chart"></i>

            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            <a href="/admin/statistic/csv/" download="auswertung" class=" modal-action csv waves-effect waves-green btn-flat">CSV</a>
            <a href="/admin/statistic/csv/" download="auswertung2" class=" modal-action csv2 waves-effect waves-green btn-flat">CSV Alle Daten</a>
        </div>
    </div>

{% endblock %}