{% extends "::base.html.twig" %}

{% block title %}Bosch Umfrage{% endblock %}

{% block body %}
    <div id="header">
        <p class="headerText">Allgemeine Umfrage</p>
    </div>
    <div id="main">
        <div class="frage">
            {{ survey['question'] }}
        </div>
        <form method="post" class="button-form" action="{{ path('bewertungAction') }}">
            <div id="bewertung">
                {% for source in buttonsources %}
                    <button class="button" value="{{ loop.index }}" type="submit" name="button">
                        <img class="image-button" src="{{ asset(source) }}">
                    </button>
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.png') }}" class="logo">

        <p class="copyrightText">Corporate Design © Robert Bosch GmbH</p>
    </div>

    <div id="popUp">
        <p class="popUpNachricht">Danke für Ihre Bewertung</p>
    </div>
{% endblock %}
