{% extends "::base.html.twig" %}

{% block title %}Bosch Umfrage{% endblock %}

{% block body %}
    <div id="header">
        <p class="headerText">Allgemeine Umfrage</p>
    </div>
    <div id="main">
        <div class="frage">
            {{ survey['question'] }}
        </div>
        <form method="post" class="button-form" action="{{ path('bewertungAction') }}">
            <div id="bewertung">
                {#{{ dump(buttons) }}#}
                {% for button in buttons %}
                    <button class="button" value="{{ loop.index }}" type="submit" name="button">
                        <img class="image-button" src="{{ asset(button['source']) }}">
                        <p class="answerOption">{{ button['answerOption'] }}</p>
                    </button>
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="footer">
        <img src="{{ asset('images/bosch.jpg') }}" class="logo">
    </div>
{% endblock %}
